@* @model IEnumerable<BlueLight.Main.MvPendingTransferList> *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Pending Transfer"; *@
@* } *@
@* *@
@* *@
@* *@
@* <br/> *@
@* *@
@* <div> *@
@*     <a asp-action="Index" asp-controller="PendingBulkTransfers">History</a> *@
@* </div> *@
@* <br/> *@
@* <div> *@
@*     <a asp-action="SentFailed" asp-controller="PendingTransferLists">Sent Failed</a> *@
@* </div> *@
@* *@
@* <h5>Total Send Amount: @ViewBag.Total</h5> *@
@* <h5>Total Failed Items : @ViewBag.TotalFailed</h5> *@
@* *@
@* <p> *@
@*     <!-- <a asp-action="Create">Create New</a> --> *@
@* </p> *@
@* <table class="table"> *@
@*     <thead> *@
@*         <tr> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.UserName) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.CurrencyCode) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.Amount) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.CreatedDate) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.IsApprove) *@
@*             </th> *@
@*             <th> *@
@*                 @Html.DisplayNameFor(model => model.AddressDestination) *@
@*             </th> *@
@*             <th></th> *@
@*         </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*         @foreach (var item in Model) *@
@*         { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.UserName) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.CurrencyCode) *@
@*             </td> *@
@*             <td> *@
@*                 @item.Amount.ToString("F8") *@
@*                 @#1#Html.DisplayFor(modelItem => item.Amount)#1# *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.CreatedDate) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.IsApprove) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.AddressDestination) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Approve" asp-route-id="@item.Id">Approve</a> | *@
@*                 <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a> *@
@* *@
@*                 <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
@*         <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
@*         <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> --> *@
@*             </td> *@
@*         </tr> *@
@*         } *@
@*     </tbody> *@
@* </table> *@
@* *@
@* <div> *@
@*     <a asp-action="Send">Send</a> *@
@* </div> *@
@* *@
